<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" lang="zxx" class="no-js">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" th:href="@{/img/avatar.jpg}">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Analysis Tool</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600"
	rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Playfair Display'
	rel='stylesheet'>
<!--
		CSS
		============================================= -->
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
<script>
	window.onload = function() {
		function jsUcfirst(string) 
		{
		    return string.charAt(0).toUpperCase() + string.slice(1);
		}
		var totalTimesTask1 = $("#totalTimesAT1").val();
		var wrongTimesTask1 = $("#wrongTimesAT1").val();
		var arrAT1Name = $(".arrAT1Name");
		var arrAT1WrongTimes = $(".arrAT1WrongTimes");
		var arrAT1TotalTimes = $(".arrAT1TotalTimes");
		var totalTimesTask2 = $("#totalTimesAT2").val();
		var wrongTimesTask2 = $("#wrongTimesAT2").val();
		var arrAT2Name = $(".arrAT2Name");
		var arrAT2WrongTimes = $(".arrAT2WrongTimes");
		var arrAT2TotalTimes = $(".arrAT2TotalTimes");
		if(arrAT1Name.length===0) {
			$("#chartContainer1").text("There aren't any sentence in lesson!");
		} else{
			<!-- Task1 -->
			var myDataCorrect = new Array(arrAT1Name.length);
			var myDataIncorrect = new Array(arrAT1Name.length);
			for(var i = 0; i< arrAT1Name.length;i++){
				myDataIncorrect[i] = {
						y : arrAT1WrongTimes.eq(i).val(),
						label : jsUcfirst(arrAT1Name.eq(i).val())
					};
				myDataCorrect[i] = {
						y : arrAT1TotalTimes.eq(i).val() - arrAT1WrongTimes.eq(i).val(),
						label : jsUcfirst(arrAT1Name.eq(i).val())
					};
				
			}
			var chart1 = new CanvasJS.Chart("chartContainer1", {
				animationEnabled: true,
				theme: "light2", //"light1", "dark1", "dark2"
				title:{
					text: "Task 1 Overview - Wrong Answers: "+wrongTimesTask1+"/" + totalTimesTask1             
				},
				axisX:{
					labelMaxWidth: 100,
					labelWrap: false
				},
				axisY:{
					interval: 10,
					suffix: "%"
				},
				toolTip:{
					shared: true
				},
				data:[{
					type: "stackedBar100",
					toolTipContent: "{label}<br><b>{name}:</b> {y}",
					showInLegend: true, 
					name: "Incorrect",
					color:"#C82E31",
					dataPoints: myDataIncorrect
					},
					{
						type: "stackedBar100",
						toolTipContent: "<b>{name}:</b> {y}",
						showInLegend: true, 
						name: "Correct",
						color: "#00AE72",
						dataPoints: myDataCorrect
					}]
			});
			chart1.render();
		}
		
		
		if(arrAT2Name.length===0) {
			$("#chartContainer2").text("There aren't any word in lesson!");
		} else{
			var myDataTask2 = new Array(arrAT2Name.length); 
			
			for(var i = 0; i< arrAT2Name.length;i++){
				myDataTask2[i] = {
						y : arrAT2WrongTimes.eq(i).val(),
						name : jsUcfirst(arrAT2Name.eq(i).val())
					};
			}
			<!-- Task2 -->
			var chart2 = new CanvasJS.Chart("chartContainer2", {
				theme : "light2",
				exportFileName : "Task2 Chart",
				exportEnabled : false,
				animationEnabled : true,
				title : {
					text : "Task 2 Overview - Wrong Answers: "+wrongTimesTask2+"/" + totalTimesTask2
				},
				legend : {
					cursor : "pointer",
					itemclick : explodePie
				},
				data : [ {
					type : "doughnut",
					innerRadius : 70,
					showInLegend : true,
					toolTipContent : "<b>{name}</b>: Wrong times {y}",
					indexLabel : "{name} - {y}",
					dataPoints : myDataTask2
				} ]
			});
			chart2.render();
		}

		function explodePie(e) {
			if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined"
					|| !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
			} else {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
			}
			if(chart2 != undefined)
				e.chart2.render();
		}

	}
</script>
</head>
<body>
	<div class="main-wrapper-first">
		<header>
			<div class="container">
				<div class="header-wrap">
					<div
						class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
							<a href="/index" style="color: violet">Home</a> <a
								th:href="@{/lesson/__${session.lesson.id}__/__${session.order}__}"
								style="color: violet">Back</a>
						</div>
						
					</div>
				</div>
			</div>
		</header>
	</div>

	<div class="main-wrapper">
		<!-- Start Feature Area -->
		<section class="featured-area">
			<div class="container">
				<div id="chartContainer1" style="height: 300px; width: 100%;">Please refresh this page!</div>
				<br/><hr/><br/>
				<div id="chartContainer2" style="height: 300px; width: 100%;">Please refresh this page!</div>
				<input type="hidden" id="totalTimesAT1" th:value="${totalTimesAT1}" />
				<input type="hidden" id="wrongTimesAT1" th:value="${wrongTimesAT1}" />
				<input type="hidden" id="totalTimesAT2" th:value="${totalTimesAT2}" />
				<input type="hidden" id="wrongTimesAT2" th:value="${wrongTimesAT2}" />
				<th:block th:each="AT1 : ${listAT1ByLesson}">
				<input type="hidden" class="arrAT1Name" th:value="${AT1.sentenceEng.getMainSentence()}" />
				<input type="hidden" class="arrAT1WrongTimes" th:value="${AT1.wrongTimes}" />
				<input type="hidden" class="arrAT1TotalTimes" th:value="${AT1.totalTimes}" />
				</th:block>
				<th:block th:each="AT2 : ${listAT2ByLesson}">
				<input type="hidden" class="arrAT2Name" th:value="${AT2.word.name}" />
				<input type="hidden" class="arrAT2WrongTimes" th:value="${AT2.wrongTimes}" />
				<input type="hidden" class="arrAT2TotalTimes" th:value="${AT2.totalTimes}" />
				</th:block>
				
			</div>
		</section>
		<!-- End Feature Area -->
		<!-- Start Footer Widget Area -->
		<section class="footer-widget-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div
							class="single-widget d-flex flex-wrap justify-content-between">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="lnr lnr-pushpin"></span>
							</div>
							<div class="desc">
								<h6 class="title text-uppercase">University</h6>
								<p>
									HCMC of Teachnology <br />& Education
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div
							class="single-widget d-flex flex-wrap justify-content-between">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="lnr lnr-earth"></span>
							</div>
							<div class="desc">
								<h6 class="title text-uppercase">Email Address</h6>
								<div class="contact">
									<a href="javascript:void(0)">nhuytnt1608@gmail.com</a> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div
							class="single-widget d-flex flex-wrap justify-content-between">
							<div
								class="icon d-flex align-items-center justify-content-center">
								<span class="lnr lnr-phone"></span>
							</div>
							<div class="desc">
								<h6 class="title text-uppercase">Phone Number</h6>
								<div class="contact">
									<a href="javascript:void(0)">+84 989 297 053</a> <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div
						class="footer-content d-flex justify-content-between align-items-center flex-wrap">
						<div class="logo"></div>
						<div class="copy-right-text">
							Copyright &copy; 2018 | All rights reserved. Design by <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">YZENNY</a>
						</div>
						<div class="footer-social">
							<a href="https://www.fb.com/yzenny97" target="_blank"><i
								class="fa fa-facebook"></i></a> <a href="#"><i
								class="fa fa-twitter"></i></a> <a href="#"><i
								class="fa fa-dribbble"></i></a> <a href="#"><i
								class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!-- End Footer Widget Area -->

	</div>

	<div class="modal fade" id="messageModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<p th:utext="${deleteErrMessage}" id="deleteErrMessage"></p>
					<button style="cursor: pointer; color: orange" type="button"
						class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript">
		$(function() {
			if ($("#invalidForm").text())
				$('#myModal').modal();
			if ($("#deleteErrMessage").text())
				$('#messageModal').modal();
		});
	</script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
